<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      
      <class name="Bike.Login"/>
      <class name="Bike.Register"/>
      <class name="Bike.Contact"/>
      <class name="Bike.Booking"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
